.BrugerContainer {
    min-width: 60%;
    font-size: 1.5em;


}

.container {
    background-color: #E8E9EA;
    /* height: 90vh; */
    -webkit-box-shadow: 7px 7px 12px -3px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 7px 7px 12px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 7px 7px 12px -3px rgba(0, 0, 0, 0.43);
}

.BrugerContainer img {
    width: 200px;
}


@media only screen and (max-width: 768px) {
	#first {
        order: 2;
        padding-left: 0px;
	}
	#second {
		order: 1;
    }
    /* .container {
        background-color: rgb(48, 105, 161);
        
    } */
}